<div style="height:80vh;"></div>
<app-text-parallax>
    <section class="section blue">
        <img class="image" src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png">
        <div class="textcon">
            <h2 class="title">Title</h2>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iste aspernatur quidem dicta dolores
                et,
                repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque tenetur tempora, iust Officia iste
                aspernatur quidem dicta dolores et, repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque
                tenetur tempora, iust.
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iste aspernatur quidem dicta dolores
                et,
                repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque tenetur tempora, iust Officia iste
                aspernatur quidem dicta dolores et, repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque
                tenetur tempora, iust.
            </div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iste aspernatur quidem dicta dolores
                et,
                repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque tenetur tempora, iust Officia iste
                aspernatur quidem dicta dolores et, repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque
                tenetur tempora, iust.
            </div>
        </div>
    </section>
    <section class="section">
        <img class="image" src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png">
        <div class="textcon">
            <h2 class="title">Title</h2>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iste aspernatur quidem dicta dolores
                et,
                repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque tenetur tempora, iust Officia iste
                aspernatur quidem dicta dolores et, repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque
                tenetur tempora, iust.
            </p>
        </div>
    </section>
    <section class="section blue">
        <img class="image" src="https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png">
        <div class="textcon">
            <h2 class="title">Title</h2>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iste aspernatur quidem dicta dolores
                et,
                repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque tenetur tempora, iust Officia iste
                aspernatur quidem dicta dolores et, repudiandae minus dolorum obcaecati sequi rem doloribus alias. Eaque
                tenetur tempora, iust.
            </p>
        </div>
    </section>
</app-text-parallax>