/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--text);
    background-color: var(--background2);
}

:root {
    --background: #040505;
    --background1: #110e0e;
    --background2: #161c27;
    --background3: #404752;
    --background4: #7c838f;

    --leading-color0: #56b6c2;
    --leading-color1: #4d7aaf;
    --leading-color2: #384094;

    --border: #c5cad2;
    --background-input: #636669;
    --text: #ffffff;
    --accent-text: #5f7a99;
    --diagram: #384094;
    --color-correct: #19c819;
    --color-wrong: #cc0000;
    --color-purple: #c678dd;
    --color-blue: #56b5c2;
    --color-orange: #df9a59;
    --color-lemon: #bee21d;
    --color-pink: #cc6688;
    --color-gold: #c5a453;
    --color-yellow: #ffff33;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--background2);
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: var(--background2);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #909090;
}

.correct-highlight {
    color: var(--color-correct);
}

.wrong-highlight {
    color: var(--color-wrong);
}

.mat-dialog-class .mat-dialog-container{
  background-color: var(--background2);
  color: var(--text);
  min-width: 20rem;
  height: 90%;
}

.mat-stroked-button {
    color: var(--text);
    background-color: var(--leading-color1);
    border: 5px solid var(--text);
    border-radius: 10%;
}

.mat-stroked-button:hover {
    background-color: var(--leading-color2);
}
