<div class="container">
  <button mat-mini-fab color="warn" class="delete" (click)="teacherService.remove(index)"><mat-icon>delete</mat-icon></button>
  <button mat-mini-fab color="warn" class="delete" (click)="edit()"><mat-icon>edit</mat-icon></button>
  <button mat-mini-fab color="warn" class="delete" (click)="preview()"><mat-icon>preview</mat-icon></button>

  <h2>{{question.get("difficulty").value}} - {{question.get("category").value}}</h2>

  <p class="text">{{question.get("exercise").value}}</p>
</div>

