site_name: Amogus Docs
site_url: https://cumgroup.github.io/AMOGUS/
repo_url: https://github.com/CUMGroup/AMOGUS
repo_name: CUMGroup/AMOGUS

markdown_extensions:
  - footnotes
  - tables
  - markdown.extensions.md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true

theme:
  name: material
  palette:
    scheme: default
    primary: black
    accent: lime
  features:
    - navigation.sections
    - navigation.expand
    - toc.integrate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - git-revision-date