* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h2 {
  font-size: 3rem;
}
h2 + p {
  margin-top: 1rem;
}
p {
  max-width: 65ch;
  line-height: 1.5;
}
.blue {
  background-color: rgb(196, 196, 248);
}
.section {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
}
.image{
  border-radius: 500px;
  height: 200px;
}
.textcon{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.text{
  width: 400px;
  height: 20px
}


