* {
  margin: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 100%;
  text-align: center;
}

h1 > div {
  position: relative;
  margin: 0;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h2+p {
  margin-top: 1rem;
}

.grey {
  background-color: var(--background1);
}

.section {
  max-height: 60rem;
  width: 100%;
  padding: 2rem;
  display: flex;
}

.image {
  width: 50em;
  height: auto;
  border: 1px solid var(--background3);
  border-radius: 2em;
  margin: 0 auto;
}

.textcon {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  margin: auto;
  min-width: 70%;
  max-width: 100%;
  width: 60rem;
}

//this class enables the reveal animation for the Element
.revealUp {
  opacity: 0;
}

.outline{
  display: contents;
}


