.header{
  text-align: center;
}

.selectionContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

app-amogus-button {
  font-size: 1.7rem;
}

@media screen and (max-width: 300px) {
  app-amogus-button {
      font-size: 1.3rem;
  }
}
