:host{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header{
  text-align: center;
}

.selectionContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: solid var(--border);
  padding: 1rem;
  border-radius: 1rem;
}

app-amogus-button {
  font-size: 1.7rem;
}

@media screen and (max-width: 300px) {
  app-amogus-button {
      font-size: 1.3rem;
  }
}
