app-level-progress {
    margin: 1em auto;
    width: 90%;
}

app-stats-graphs {
    margin: 1em auto;
    width: 90%;
}

app-stats-table {
    margin: 1em auto 4em auto;
    width: 90%;
}

.app-stats-title {
    text-align: center;
}

.data-container {
    margin: 1em auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}