<div class="config-panel">

</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>Graph</mat-expansion-panel-header>

  <mat-checkbox [(ngModel)]="config.isInsideGrid" (change)="onConfigChange()">
    Add Grid
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="config.isTooltipShown" (change)="onConfigChange()">
    Show Tooltip
  </mat-checkbox>

  <mat-checkbox [(ngModel)]="config.isLabelShown" (change)="onConfigChange()">
    Show Labels
  </mat-checkbox>

  <button (click)="changeData()">change</button>

  <div
      *ngIf="showChart"
      echarts
      [options]="options"
      class="demo-chart"
      [autoResize]="true"
      (chartInit)="onChartInit($event)"
    >
    </div>
</mat-expansion-panel>

<div echarts [options]="graphOptions" class="demo-chart"></div>

<div echarts [options]="graph2Options" class="demo-chart"></div>
