<app-text-parallax>
  <div class="outline">
    <h1> How To Play </h1>
    <section class="section grey">
      <div class="textcon">
        <h2 class="revealUp">What is AMOGUS ?</h2>
        <p class="revealUp">
          AMOGUS stands for „Advanced Mathematic Operations and Geometry Under Stress“.
        </p>
        <p class="revealUp">
          It is a playful game where you can exercise and improve your Mathskills.
        </p>
        <br>
        <p class="revealUp">
          Our name is our program, you will be under stress, so that you are prepared for the next exam ;)
        </p>
        <br>
        <p class="revealUp">
          Be sure to practice at least once a day, you want to keep that streak going hot 🔥
        </p>
      </div>
    </section>
    <section class="section">
      <div class="textcon">
        <h2 class="revealUp">How do I play it?</h2>
        <p class="revealUp">
          First you need to be logged in in order to play, so you can track your learning process.
        </p>
        <br>
        <p class="revealUp">
          When you are logged in, you can start a game session:
        </p>
        <br>
        <p class="revealUp">
          ⁃    A Game Session contains a set of various questions from a category of your choosing (Analysis, Mental or Geometry)
        </p>
        <p class="revealUp">
          and difficulty ranging from easy, medium to hard.
        </p>
        <br>
        <p class="revealUp">
          ⁃    When you get a question a time bar starts to run out. So be quick, you have a limited time to answer the question.
        </p>
        <br>
        <p class="revealUp">
          ⁃    If you need help to understand the question, you can always click on the question mark.
        </p>
        <br>
        <p class="revealUp">
          After a game you will be presented with you results from the session. Here you can see which questions you answered correctly and which not. <br>
          Each correct answer rewards you with experience points.
        </p>
      </div>
    </section>
    <section class="section grey">
      <div class="textcon">
        <h2 class="revealUp">Statistics</h2>
        <p class="revealUp">
          Because we all love some statistics 👀
        </p>
        <br>
        <p class="revealUp">
          To see your learning progress you can check your personal statistics. Here you can see what level you are,
        </p>
        <p class="revealUp">
          how many questions you have answered so far as well as your fastest time.
        </p>
        <br>
        <p class="revealUp">
          We also have some pretty charts for you to visualize it ✨
        </p>
      </div>
    </section>
    <section class="section">
      <div class="textcon">
        <h2 class="revealUp">I am a Teacher - How can I contribute?</h2>
        <p class="revealUp">
          We are really happy to have teachers with us that want to contribute to our questions repertoire.
        </p>
        <br>
        <p class="revealUp">
          If you are a teacher you can contact our Admins who will happily give you the teacher role.
        </p>
        <p class="revealUp">
          With this role you will have access to the questions page
        </p>
        <br>
        <p class="revealUp">
          There you can look at the existing questions, with the possibility to filter them by category an difficulty.
        </p>
        <p class="revealUp">
          As a teacher you also may delete questions or add some new ones to keep the students brains busy 🧠
        </p>
      </div>
    </section>
  </div>
  <div style="height: 150px"></div>
</app-text-parallax>
