.container {
  border: solid var(--text);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.buttons{
  float: right;
  width: 3rem;
  height: 3rem;
  margin: 0.4rem;
}

.text{
  max-width: 90%;
  word-wrap: break-word
}
