::ng-deep .mat-tab-label-content{
    color: var(--text);
}

::ng-deep .mat-tab-labels{
  background-color: var(--background2);
} 

mat-tab-group {
  margin-top: 3em;
}
mat-table {
  margin-top: 1em;
}
.mat-elevation-z8{
  background-color: var(--background1);
  
}

h2 {
  color: var(--text);
}

::ng-deep .mat-header-cell {
  color: var(--leading-color0);
  font-weight: bold;
}
::ng-deep .mat-cell {
  color: var(--border);
}
::ng-deep .mat-row {
  border-color: var(--background4);
}
::ng-deep .mat-header-row {
  border-color: var(--leading-color0);  
}