:host,
.landing-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1.5em;
}

app-amogus-button {
    width: 10em;
    height: 3em;
    font-size: 2rem;
}

.amogusPicture{
  height: 10rem;
}

.headertextcontainer {
  position: absolute;
  top: 3em;
  width: 100%;
  height: var(--parallax-height);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  --parallax-height: 15em;
  height: var(--parallax-height);
  width: 100%;
}

@media screen and (max-width: 800px) {
    app-amogus-button {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 550px) {
    :host,.landing-container {
        margin-top: 0;
    }
}
