.bar{
  width: 100%;
  height: 6%;
  background-color: #21252b;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  top: 0;
  border-bottom: solid #c5cad2;
  box-shadow: #c5cad2;
}

.hamburger{
  height: 100%;
  width: auto;
}

.home{
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 99;
  left: -200px;
  overflow: hidden;
  height: 100%;
  width: 200px;
  background-color: black;
  color: white;
  align-items: center;
}

.move0{
  height:3px;
  width:0;
  background-color: white;
}
.move1{
  height:3px;
  width:0;
  background-color: white;
}
.move2{
  height:3px;
  width:0;
  background-color: white;
}
.move3{
  height:3px;
  width:0;
  background-color: white;
}

.item {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
}

.link{
  text-decoration: none;
  color: white;
}

