<h1 mat-dialog-title>Result</h1>
<div mat-dialog-content>
  <div class="resultItem" *ngFor="let answerCorrect of data.answers let i = index">
    <p *ngIf="answerCorrect" class="correct-highlight">Q{{i}}: Correct!</p>
    <p *ngIf="!answerCorrect" class="wrong-highlight">Q{{i}}: Incorrect!</p>
    <button class="previewButton" mat-mini-fab (click)="showQuestion(i)"><mat-icon>preview</mat-icon></button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>
