<div class="outline">
  <h1 class="header">{{ getCategoryName() }}</h1>
  <div class="loading" *ngIf="gameService.loading">

  </div>
  <div *ngIf="!gameService.loading">
    <div class="progressBar">
      <div class="progress">
  <!--      <img class="knife" src="https://png.pngtree.com/png-clipart/20220730/ourmid/pngtree-cartoon-knife-png-image_6093279.png">-->
      </div>
    </div>
    <form>
      <app-exercise [currentQuestion]="currentQuestion" [selectedAnswer]="selectedAnswer"></app-exercise>
      <div class="submit">
        <button type="submit" mat-raised-button color="primary" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
</div>

