<div class="outline">
  <h1 class="header">{{ getCategoryName() }}</h1>
  <div class="loading" *ngIf="gameService.loading">

  </div>
  <div *ngIf="!gameService.loading && !this.currentQuestion.finished">
    <div class="progressBar">
      <div class="progress"></div>
    </div>
    <form>
      <app-exercise [currentQuestion]="currentQuestion" [selectedAnswer]="selectedAnswer"></app-exercise>
      <div class="submit">
        <button type="submit" mat-raised-button color="primary" class="submitButton" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>
</div>

