<div class="stats-container">
    <h1>Statistics</h1>

    <h3><b>Level {{currentLevel}}</b></h3>
    <p>Current Streak: {{stats?.currentStreak}}</p>
    <p>{{stats?.overallAnswered}} Questions Answered</p>
    <p><span class="correct-highlight">{{stats?.correctAnswers}}</span> Correct | <span
            class="wrong-highlight">{{stats?.overallAnswered - stats?.correctAnswers}}</span> Wrong</p>
    <p>{{stats?.totalTimePlayed}} hours played</p>
    <details>
        <summary>More stats</summary>
        <p>Correct/Incorrect Ratio: {{ciRatio | number : '1.0-2'}}</p>
        <p>Quickest Answer: {{stats?.quickestAnswer}}ms</p>
        <p>Slowest Answer: {{stats?.slowestAnswer}}s</p>
        <p>Longest Streak: {{stats?.longestStreak}}d</p>
    </details>
</div>