<div class="stats-container">
    <div class="streak-container">
        <div class="text-box">Streak {{stats?.CurrentStreak}}d</div>
        <p>Longest Streak: {{stats?.LongestStreak}}d</p>
    </div>
    
    <div class="questions">
        <p class="blue-highlight">Total questions answered: {{stats?.OverallAnswered}}</p><br>
        <div class="answer-amount">
            <div>
                <div class="text-box">
                    <span class="correct-highlight"><i class="fa-solid fa-check fa-lg"></i> </span> {{stats?.CorrectAnswers}}
                </div>
                <p>Correct Answers</p>
            </div>
            <div>
                <div class="text-box">
                    <span class="wrong-highlight"><i class="fa-solid fa-xmark fa-lg"></i> </span> {{stats?.OverallAnswered - stats?.CorrectAnswers}}
                </div>
                <p>Incorrect</p>
            </div>
            <div>
                <div class="text-box">
                    {{ciRatio | number : '1.0-2'}}
                </div>
                <p>Cor./Incor. Ratio</p>
            </div>
        </div>
    </div>
</div>
<div class="graphs-container">
    <app-line-graph [stats$]="stats$"></app-line-graph>
    <div class="time-block">
        <div>
            <div class="text-box">
                <i class="fa-solid fa-stopwatch fa-lg"></i> <span class="blue-highlight"> {{stats?.QuickestAnswer?.totalMilliseconds}}ms</span>
            </div>
            <p>Quickest Answer</p>
        </div>
        <div>
            <div class="text-box">
                <i class="fa-solid fa-shrimp fa-lg"></i> <span class="blue-highlight"> {{stats?.SlowestAnswer?.totalSeconds}}s</span>
            </div>
            <p>Slowest Answer</p>
        </div>
    </div>
</div>