.graphs-container {
    display: flex;
    justify-content: center;
}

.pi-chart {
    width: 600px;
    top: 4em;
}

@media screen and (max-width: 1500px) {

    .pi-chart {
        top: unset;
    }

}

@media screen and (max-width: 850px) {
    .graphs-container {
        display: block;
    }

    .pi-chart {
        width: 100%;
    }
}