<div class="container">
  <div class="top">
    <div class="help">

      <div class="question">?</div>

      <div class="popup">
        <h3>Need Help?</h3>
        <p> {{ currentQuestion.help }}</p>
      </div>

    </div>
    <textarea cdkTextareaAutosize readonly class="questions" value="{{currentQuestion.exercise}}">
  </textarea>
  </div>
  <div class="answers">
    <mat-radio-group
      *ngIf="+currentQuestion.category < 3"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [formControl]="selectedAnswer">
      <mat-radio-button class="example-radio-button" *ngFor="let answer of currentQuestion.getMultipleChoiceAnswers()" [value]="answer">
        {{answer}}
      </mat-radio-button>
    </mat-radio-group>

    <input *ngIf="+currentQuestion.category >= 3" class="answer-input" [formControl]="selectedAnswer" />
  </div>
</div>


