@import "../../game-view/game-view.component.css";

.questions{
  background: var(--background);
  color: var(--text);
  border: solid 3px #c5cad2;
  margin: 10px;
  padding: 10px;
  width: 50%;
  text-align: center;
  height: 10rem;
  font-size: 18px;
  user-select: none;
  user-focus: none;
  min-height: 4rem;
  border-radius: 10px;
}

.top{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0px;
  grid-template-areas:
    ". ."
    ". .";
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-radio-container{
  background: white;
  border-radius: 10px;
}

::ng-deep .mat-radio-button .mat-radio-label{
  width: unset;
}

.help {
  width: 40px;
  position: absolute;
  right: 16%
}

.help .question {
  height: 40px;
  width: 40px;
  background: var(--leading-color2);
  border: solid 3px #c5cad2;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.help .popup{
  width: 400%;
  text-align: left;
  overflow: hidden;
  background: var(--background2);
  opacity: 0;
  transition: 1s;
  border-radius: 10px;
  border: solid #c5cad2;
}

.help .popup {
  left: -260px;
  top: 10px;
}

.help:hover .popup {
  opacity: 1;
}

.help .popup h3 {
  margin: 0;
  padding: 10px 0 0 10px;
  height: 30px;
  background: var(--background);
  color: var(--text);
  font-weight: 400;
  font-size: 18px;
}

.help .popup p {
  font-size: 16px;
  padding: 10px;
  margin: 0;
}

.help .popup p em {
  font-size: 12px;
}
