.display{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  z-index: -1;
}
.defineWidth{
  width: 20%;
  min-width: 300px;
}
.submit{
  width: 20%;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
}
