:host{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display{
  color: white;
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
.defineWidth{
  width: 20%;
  min-width: 300px;
  color: white;
}

::ng-deep .mat-form-field .mat-form-field-flex {
    background-color: var(--background3);
  }

.label{
  color: white;
}

.submit{
  width: 20%;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  min-height: 75px;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}

.toggle-link {
  color: var(--text);
  text-decoration: underline;
}

.toggle-link:hover {
  color: var(--leading-color0);
}

.toggle-link:visited {
  color: var(--text);
}

.toggle-link:visited:hover {
  color: var(--leading-color0);
}


.error-popup {
  transition: all ease-in-out 500ms;

  opacity: 0;
  position: fixed;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-pink);
  border-radius: 5px;
  padding: .2em 1em;
  max-width: 60%;

  pointer-events: none;
}

.error-popup .error-description {
  word-wrap: break-word;
  word-break: normal;
}


@media screen and (max-width: 600px) {
  .display {
    margin-top: 0;
  }

  .error-popup {
    top: 17rem;
  }
}
