.display{
  color: white;
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}
.defineWidth{
  width: 20%;
  min-width: 300px;
  color: white;
}

::ng-deep .mat-form-field .mat-form-field-flex {
    background-color: var(--background3);
  }

.label{
  color: white;
}

.submit{
  width: 20%;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.toggle-link {
  color: var(--text);
  text-decoration: underline;
}

.toggle-link:hover {
  color: var(--leading-color0);
}

.toggle-link:visited {
  color: var(--text);
}

.toggle-link:visited:hover {
  color: var(--leading-color0);
}

@media screen and (max-width: 600px) {
  .display {
    margin-top: 0;
  }
}