#container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  background: black;
  background-image: url('/assets/opt/space-back.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.amongus {
  display: block;
  position: absolute;
  height: auto;
  width: 5em;
  background: transparent;
  z-index: 1;
  transform: translate(-21px, 6px) rotate(-40deg);
}
