.dialogActions{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.closeButton{
  color: var(--text);
  height: 3rem;
  width: 6rem;
}

.closeButton:hover{
  background-color: var(--leading-color2);
}

