
.container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.halfwidth{
  width: 50%;
}

.quarterwidth{
  width: 25%;
}

::ng-deep .mat-form-field .mat-form-field-flex {
  background-color: black;
  border-radius: 4px 4px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
  border: solid white 1px;
}

::ng-deep .mat-form-field .mat-form-field-label {
  color: white;
}

::ng-deep .mat-form-field .mat-select-value {
  color: white;
}

::ng-deep .mat-form-field .mat-select-arrow-wrapper {
  color: white;
}

