<h1 mat-dialog-title class="header">Create Question</h1>
<form mat-dialog-content [formGroup]="newQuestion">
  <div class="container">
    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category">
        <mat-option *ngFor="let category of constants.Categories" [value]="category.category">
          {{ category.gameType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Difficulty" formControlName="difficulty">
        <mat-option *ngFor="let difficulty of constants.Difficulties" [value]="difficulty">
          {{ difficulty }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Question</mat-label>
      <textarea cdkTextareaAutosize matInput formControlName="exercise"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Answer</mat-label>
      <textarea cdkTextareaAutosize matInput formControlName="answer"></textarea>
    </mat-form-field>

    <ng-container *ngFor="let wrongAnswer of wrongAnswerControlArray">
      <mat-form-field>
        <mat-label>Wrong Answer</mat-label>
        <textarea cdkTextareaAutosize matInput [formControl]="wrongAnswer"></textarea>
      </mat-form-field>
    </ng-container>

    <mat-form-field>
      <mat-label>Help</mat-label>
      <textarea cdkTextareaAutosize matInput formControlName="help"></textarea>
    </mat-form-field>

  </div>
</form>

<div mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
  <button mat-raised-button color="warn" (click)="close()"> Close </button>
</div>
